- Effect: Deny
  Action:
  - account:EnableRegion
  - account:DisableRegion
  Resource:
  - "*"
%{ if length(permittedPrincipals) > 0 ~}
  Condition:
    ArnNotLike:
      "aws:PrincipalARN":
%{ for principal in permittedPrincipals ~}
      - ${principal}
%{ endfor ~}
%{ endif ~}
