- Effect: Deny
  NotAction:
  - a4b:*
  - acm:*
  - aws-marketplace-management:*
  - aws-marketplace:*
  - aws-portal:*
  - budgets:*
  - ce:*
  - chime:*
  - cloudfront:*
  - config:*
  - cur:*
  - directconnect:*
  - ec2:DescribeRegions
  - ec2:DescribeTransitGateways
  - ec2:DescribeVpnGateways
  - fms:*
  - globalaccelerator:*
  - health:*
  - iam:*
  - importexport:*
  - kms:*
  - mobileanalytics:*
  - networkmanager:*
  - organizations:*
  - pricing:*
  - route53:*
  - route53domains:*
  - route53-recovery-cluster:*
  - route53-recovery-control-config:*
  - route53-recovery-readiness:*
  - s3:GetAccountPublic*
  - s3:ListAllMyBuckets
  - s3:ListMultiRegionAccessPoints
  - s3:PutAccountPublic*
  - shield:*
  - sts:*
  - support:*
  - trustedadvisor:*
  - waf-regional:*
  - waf:*
  - wafv2:*
  - wellarchitected:*
%{ for action in permittedActions ~}
  - ${action}
%{ endfor ~}
  Resource:
  - "*"
  Condition:
%{ if length(permittedRegions) > 0 ~}
    StringNotEquals:
      "aws:RequestedRegion":
%{ for region in permittedRegions ~}
      - ${region}
%{ endfor ~}
%{ endif ~}
%{ if length(permittedPrincipals) > 0 ~}
    ArnNotLike:
      "aws:PrincipalARN":
%{ for principal in permittedPrincipals ~}
      - ${principal}
%{ endfor ~}
%{ endif ~}
