- Effect: Deny
  Action:
  - s3:PutBucketPublicAccessBlock
  Resource:
  - "*"
%{ if length(permittedPrincipals) > 0 ~}
  Condition:
    ArnNotLike:
      "aws:PrincipalARN":
%{ for principal in permittedPrincipals ~}
      - ${principal}
%{ endfor ~}
%{ endif ~}

%{ if restrictAccountLevelPublicAccessBlockManagement ~}
- Effect: Deny
  Action:
  - s3:PutAccountPublicAccessBlock
  Resource:
  - "*"
%{ if length(permittedPrincipals) > 0 ~}
  Condition:
    ArnNotLike:
      "aws:PrincipalARN":
%{ for principal in permittedPrincipals ~}
      - ${principal}
%{ endfor ~}
%{ endif ~}
%{ endif ~}
